ACE/src/main/resources/wsdl/SubventionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://subvention.endpoints.service.sfa.crm.turkcell.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://subvention.endpoints.service.sfa.crm.turkcell.com/" name="SubventionService">
<types>
<xsd:schema>
<xsd:import namespace="http://subvention.endpoints.service.sfa.crm.turkcell.com/" schemaLocation="http://extprpws.turkcell.com.tr:80/tsfaws/SubventionService?xsd=1"/>
</xsd:schema>
</types>
<message name="getApprovalItemRecords">
<part name="parameters" element="tns:getApprovalItemRecords"/>
</message>
<message name="getApprovalItemRecordsResponse">
<part name="parameters" element="tns:getApprovalItemRecordsResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getApprovalItemRecordCount">
<part name="parameters" element="tns:getApprovalItemRecordCount"/>
</message>
<message name="getApprovalItemRecordCountResponse">
<part name="parameters" element="tns:getApprovalItemRecordCountResponse"/>
</message>
<message name="doSubventionControlForMsisdn">
<part name="parameters" element="tns:doSubventionControlForMsisdn"/>
</message>
<message name="doSubventionControlForMsisdnResponse">
<part name="parameters" element="tns:doSubventionControlForMsisdnResponse"/>
</message>
<message name="getApprovalSubventionItemDetails">
<part name="parameters" element="tns:getApprovalSubventionItemDetails"/>
</message>
<message name="getApprovalSubventionItemDetailsResponse">
<part name="parameters" element="tns:getApprovalSubventionItemDetailsResponse"/>
</message>
<message name="sendRecordToApproval">
<part name="parameters" element="tns:sendRecordToApproval"/>
</message>
<message name="sendRecordToApprovalResponse">
<part name="parameters" element="tns:sendRecordToApprovalResponse"/>
</message>
<message name="listApprovalHistory">
<part name="parameters" element="tns:listApprovalHistory"/>
</message>
<message name="listApprovalHistoryResponse">
<part name="parameters" element="tns:listApprovalHistoryResponse"/>
</message>
<message name="updateSubventionStatus">
<part name="parameters" element="tns:updateSubventionStatus"/>
</message>
<message name="updateSubventionStatusResponse">
<part name="parameters" element="tns:updateSubventionStatusResponse"/>
</message>
<message name="getApprovalCountByType">
<part name="parameters" element="tns:getApprovalCountByType"/>
</message>
<message name="getApprovalCountByTypeResponse">
<part name="parameters" element="tns:getApprovalCountByTypeResponse"/>
</message>
<portType name="SubventionServiceEndPoint">
<operation name="getApprovalItemRecords">
<input message="tns:getApprovalItemRecords"/>
<output message="tns:getApprovalItemRecordsResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="getApprovalItemRecordCount">
<input message="tns:getApprovalItemRecordCount"/>
<output message="tns:getApprovalItemRecordCountResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="doSubventionControlForMsisdn">
<input message="tns:doSubventionControlForMsisdn"/>
<output message="tns:doSubventionControlForMsisdnResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="getApprovalSubventionItemDetails">
<input message="tns:getApprovalSubventionItemDetails"/>
<output message="tns:getApprovalSubventionItemDetailsResponse"/>
</operation>
<operation name="sendRecordToApproval">
<input message="tns:sendRecordToApproval"/>
<output message="tns:sendRecordToApprovalResponse"/>
</operation>
<operation name="listApprovalHistory">
<input message="tns:listApprovalHistory"/>
<output message="tns:listApprovalHistoryResponse"/>
</operation>
<operation name="updateSubventionStatus">
<input message="tns:updateSubventionStatus"/>
<output message="tns:updateSubventionStatusResponse"/>
</operation>
<operation name="getApprovalCountByType">
<input message="tns:getApprovalCountByType"/>
<output message="tns:getApprovalCountByTypeResponse"/>
</operation>
</portType>
<binding name="SubventionServiceEndPointPortBinding" type="tns:SubventionServiceEndPoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getApprovalItemRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getApprovalItemRecordCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="doSubventionControlForMsisdn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getApprovalSubventionItemDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendRecordToApproval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listApprovalHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSubventionStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApprovalCountByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SubventionService">
<port name="SubventionServiceEndPointPort" binding="tns:SubventionServiceEndPointPortBinding">
<soap:address location="http://extprpws.turkcell.com.tr:80/tsfaws/SubventionService"/>
</port>
</service>
</definitions>